p{
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 200px;
}
#photo{
    height: 200px;
}
.location{
    font-size: large;
}    
#change{
    position: Center;
    text-align: center;
}
#cent{
    text-align: center;
    text-decoration-line: underline;
}
html{
    background-image:url(./Images/pexels-ann-h-1762851.jpg);
}

